name: Secrets Scan Action

on:
  pull_request:
    branches: [ main ]
    types: [opened, edited, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout aws git-secrets repo
        uses: actions/checkout@v2
        with:
          repository: awslabs/git-secrets

      - name: Install aws git-secrets
        run: sudo make install

      - name: Add AWS Configs
        run: git secrets --register-aws --global

      - name: Allow Account exception
        run: git secrets --add --allowed '(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?\s*(:|=>|=)\s*[0-9]{4}\-?[0-9]{4}\-?[0-9]{4}'

      - name: Checkout ILMLF Code
        uses: actions/checkout@v2

      - name: Scan for secrets
        run: git secrets --scan